# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Next.js
/.next/
/out/

# Production
/build

# Env files
.env
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Database
*.db
*.db-journal

# Misc
.DS_Store
*.pem
